<template name = "about">
    <div id="MAIN_WRAPPER">


    <!-- responsive banner --><h1>Notre histoire</h1>

    <div class="container">
        <p class="header-abstract">
            Nous sommes les élèves de 4IR de INSA.

        </p>
    </div>


    <div class="module container" accesskey="4" tabindex="0">
        <div class="bodyContent">
            <p>
                Nous avons commencé le projet par les séances de brainstroming pour trouver une idée d’application innovante (the next big thing). Un des objectifs s'agit d'exploiter le potentiel des technologies de l'API WebRTC dans un cas d'utilisation concret.
                </p>

            <p>
                Puis, l’idée de SkillShare INSA a germée.</p>
            <h2>
                Moments importants</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th>
                        12.23.2014</th>
                    <td>
                        <p>
                            Création d'une équipe de trois personnes : An, Pascal et Remi et  recherches des informations sur webRTC</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        20.01.2015</th>
                    <td>
                        <p>
                            Chao a participé à notre groupe</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        24.02.2015</th>
                    <td>
                         Le but est fixé : créer un site web utile et puissant qui permet aux élèves de INSA de partager leur compétence et, dans l'autre sens, de chercher de l'aide.</td>
                </tr>
                <tr>
                    <th>
                        11.03.2015</th>
                    <td>
                        <p>
                            Décision du nom du projet : SkillShareINSA</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        18.03.2015</th>
                    <td>
                       Adoption d'un nouveau framework pour faciliter le développement : Meteor </td>
                </tr>
                <tr>
                    <th>
                        25.03.2015</th>
                    <td>
                        <p>
                           Une première version de l'appel vidéo est fonctionnelle</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        19.05.2015</th>
                    <td>
                        <p>
                           L'appel vidéo, la connection CAS, le messagerie et l'espace de matière implémentés</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        27.05.2015</th>
                    <td>
                       Test unitaires et d'intégration</td>
                </tr>
                <tr>

                <th>
                    03.06.2015</th>
                <td>
                    Jour J : Première démonstration publique</td>
                </tr>

                </tbody>
            </table>
    </div>
    </div>
</div>
    </template>