<template name = "about">


    <!-- responsive banner --><h1>Notre histoire</h1>

    <div class="container">
        <p class="header-abstract">
            Nous sommes les eleves de 4IR de INSA.

        </p>
    </div>


    <div class="module container" accesskey="4" tabindex="0">
        <div class="bodyContent">
            <p>
                Nous avons commencé par effectuer des séances de brainstroming, d’idées d’application utilisant les technologies de WebRTC et ayant une réelle utilité.
                </p>

            <p>
                Puis, l’idée de SkillShare INSA a germée.</p>
            <h2>
                Moment important</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th>
                        12.23.2014</th>
                    <td>
                        <p>
                            Creation d'une equipe de trois personnes:An, Pascal et Remi et puis commencer a chercher les informations sur webRTC</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        20.01.2015</th>
                    <td>
                        <p>
                            Chao a participer notre groupe</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        24.02.2015</th>
                    <td>
                        On a fixer le but, c'est de creer une site qui permet les eleves de INSA de partager leur competence</td>
                </tr>
                <tr>
                    <th>
                        11.03.2015</th>
                    <td>
                        <p>
                            Fixer le nom de ce projet comme SkillShareINSA</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        18.03.2015</th>
                    <td>
                       Prendre la decision de utiliser une nouvelle technologie:meteor</td>
                </tr>
                <tr>
                    <th>
                        25.03.2015</th>
                    <td>
                        <p>
                           Une premiere version de call fonctionne mais avec probleme</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        19.05.2015</th>
                    <td>
                        <p>
                           Le Call, le Cas, le messagerie et l'espace de matiere tous marche mais avec bug</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        27.05.2015</th>
                    <td>
                       Le test de notre site </td>
                </tr>

                <th>
                    03.06.2015</th>
                <td>
                    demonstration finale </td>
                </tr>

                </tbody>
            </table>
    </div>
    </div>
    </template>