<template name = "about">
    <div id="MAIN_WRAPPER">


    <!-- responsive banner --><h1>Notre histoire</h1>

    <div class="container">
        <p class="header-abstract">
            Nous sommes des élèves en 4IR au sein de l'INSA de Toulouse.

        </p>
    </div>


    <div class="module container" accesskey="4" tabindex="0">
        <div class="bodyContent">
            <p>
                Nous avons commencé le projet par des séances de brainstroming afin de trouver la prochaine application qui révolutionnera l'enseignement. Un des objectifs était d'exploiter le potentiel des technologies de WebRTC afin de construire quelque chose de réellement utile.
                </p>

            <p>
                Puis, l’idée de <b>SkillShare INSA</b> a germée.</p>
            <h2>
                Moments importants</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th>
                        12.23.2014</th>
                    <td>
                        <p>
                            Création d'une équipe de trois personnes : An, Pascal et Remi et  recherches d'informations sur webRTC</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        20.01.2015</th>
                    <td>
                        <p>
                            Chao rejoint l'équipe</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        24.02.2015</th>
                    <td>
                         Le but est fixé : créer un site web utile et puissant qui permet aux élèves de l'INSA de partager leurs compétences et, si besoin, de chercher de l'aide.</td>
                </tr>
                <tr>
                    <th>
                        11.03.2015</th>
                    <td>
                        <p>
                            Choix du nom du projet : SkillShareINSA</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        18.03.2015</th>
                    <td>
                       Adoption d'un nouveau framework pour faciliter le développement : Meteor </td>
                </tr>
                <tr>
                    <th>
                        25.03.2015</th>
                    <td>
                        <p>
                           Première version de l'appel vidéo fonctionnelle</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        19.05.2015</th>
                    <td>
                        <p>
                           L'appel vidéo, la connection CAS, la messagerie et l'espace matière implémentés</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        27.05.2015</th>
                    <td>
                       Test unitaires et d'intégration</td>
                </tr>
                <tr>

                <th>
                    03.06.2015</th>
                <td>
                    Jour J : Première démonstration publique et standing ovation</td>
                </tr>

                </tbody>
            </table>
    </div>
    </div>
</div>
    </template>
