<template name="videoCall">
    <div id="videoCallPanel" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <video id="remoteVideo" autoplay></video>
                </div>
                <div class="col-md-4">
                    <video id="localVideo" autoplay muted></video>
                </div>
            </div>
            <div class="row">
                <div id="btnPanel" class="col-md-4 col-md-offset-3">
                    <input id="calleeUsername" type="text" class="form-control" placeholder="Identifiant de votre collègue"/>
                </div>
            </div>
            <div class="row">
                <div id="btnPanel" class="col-md-4 col-md-offset-3">
                    <button id="callBtn" class="btn btn-info">Appeler</button>
                    <button id="hangupBtn" class="btn btn-default">Raccrocher</button>
                </div>
            </div>
            <div id="userListPanel">
            {{>userList}}
            </div>
            <div id="chatPanel">
                <textarea rows="10" cols="60"
                              id="dataChannelReceive" disabled class="form-control"
                              placeholder="Chat n'est pas disponible"></textarea>
                <button id="sendDataBtn" disabled class="btn btn-danger form-control">Send</button>
            </div>
        </div>
    </div>

    {{>acceptCallPopup}}
    {{>hangupCallPopup}}
    {{>callRefusedPopup}}
</template>

<template name="acceptCallPopup">
    {{#popup popupId=popupId title="Appel reçu !"
            confirmButton="Accepter" cancelButton="Refuser"}}
        <div class="col-sm-10">
            Vous avez un nouvel appel de <span class="username">{{caller}}</span>. Acceptez ?
        </div>
    {{/popup}}
</template>

<template name="callRefusedPopup">
    {{#popup popupId=popupId title="Appel refusé"
            confirmButton="OK"}}
        <div class="col-sm-10">
            <span class="username">{{callmate}}</span> n'est pas disponible. Essayez plus tard.
        </div>
    {{/popup}}
</template>

<template name="hangupCallPopup">
    {{#popup popupId="hangupCallPopup" title="Appel terminé"
            confirmButton="OK"}}
        <div class="col-sm-10">
            <span class="username">{{callmate}}</span> a raccroché.
        </div>
    {{/popup}}
</template>