<template name="videoCall">
    <div id="videoCallPanel" >
        {{>userList}}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <video id="remoteVideo" autoplay></video>
                </div>
                <div class="col-md-4">
                    <video id="localVideo" autoplay muted></video>
                </div>
            </div>
            <div id="btnPanel">
                <input id="calleeUsername" placeholder="Person to call ? "/>
                <button id="callBtn" class="btn btn-info">Call</button>
                <button id="hangupBtn" class="btn btn-default">Hang up</button>
            </div>
        </div>
    </div>

    {{>acceptCallPopup}}
    {{>hangupCallPopup}}
    {{>callRefusedPopup}}
</template>

<template name="acceptCallPopup">
    {{#popup popupId=popupId title="Incoming call"
            confirmButton="Yup" cancelButton="Refuse"}}
        <div class="col-sm-5">
            Incoming call from {{caller}}. Accept ?
        </div>
    {{/popup}}
</template>

<template name="callRefusedPopup">
    {{#popup popupId=popupId title="Call refused"
    confirmButton="OK" cancelButton="OK"}}
        <div class="col-sm-5">
            Call refused.
        </div>
    {{/popup}}
</template>

<template name="hangupCallPopup">
    {{#popup popupId="hangupCallPopup" title="Call terminated"
            confirmButton="Yup" cancelButton="Refuse"}}
        <div class="col-sm-5">
            The other guy hung up.
        </div>
    {{/popup}}
</template>