#videoCallPanel {
  margin-top : 20px;
}
#videoCallPanel video {
  width : 106%;
}
#videoCallPanel video#remoteVideo {
  background-color: #F4F4F4;
  height : 270px;
}
#videoCallPanel .container-fluid {
  margin-top : 20px;
}
#videoCallPanel .row {
	margin-bottom: 15px;
}
#videoCallPanel video#localVideo {
  display: none;
  background-color: #F1F1F1;
}
#videoCallPanel #userListPanel {
  position: fixed;
  bottom: 20px;
  right : 30px;
}
#videoCallPanel #userList {
  margin-top : 20px;
  border: 1px dotted;
}
.username {
	font-weight: bold;
	color : #D35353;
}