#videoCallPanel video {
  width : 100%;
}
#videoCallPanel video#remoteVideo {
  background-color: rgb(153, 164, 160);
}

#videoCallPanel video#localVideo {
  background-color: #3c763d;
}

#videoCallPanel #userList {
  position: absolute;
  right: 97px;
  border: 1px solid;
  padding: 20px;
}