<template name="contact">

            <div class="wrappercontent">
        <div class="wrappercontentbody">
    <div class="spacebottommd padbottommd bottomborder">
        <div class="cntmdesc">
        <!-- BEGIN FAQ LIST CONTAINER -->
        <h2 class="ltblue">Contact us</h2>

        <p>N'hesitez pas a nous demander!</p>

        <ul class="linkedlist">


            <li>	 <a class="dkblue"  href="/inbox?pseudo=an"  > Hai An Dang : hadang@etud.insa-toulouse.fr  </a></li>

            <li>	 <a class="dkblue"  href="/inbox?pseudo=pascal" > Pascal Jauffret : jauffret@etud.insa-toulouse.fr  </a></li>

            <li>	 <a class="dkblue"  href="/inbox?pseudo=remi"  > Remi Prevost : rprevost@etud.insa-toulouse.fr</a></li>

            <li>	 <a class="dkblue"  href="/inbox?pseudo=chao"  > Wang Chao : c_wang@etud.insa-toulouse.fr </a></li>

    </ul>
    </div>
        <div class="clear"></div>
    </div>
    </div>
   </div>
</template>