@media screen and (min-width: 600px) {
  #courseListPanel {
    margin-right: 212px;
  }
  #addCourseBtn {
    margin-right: 0;
  }
}
#courseListPanel h2 {
  margin: 0 0 20px;
}
#addCourseBtn, .courseListTable {
  margin-right: 20px;
}

.removeBtn {
  color : white;
  background-color: rgba(115, 56, 112, 0.63);
}

#modal-skillNameInput {
  height: 18px;
}

.section_teachers {
  margin-left: 30px;
}
