@media screen and (min-width: 600px) {
  #courseListPanel {
    margin-right: 212px;
  }
  #addCourseBtn {
    margin-right: 0;
  }
}
#courseListPanel h2 {
  margin: 0 0 20px;
}
#addCourseBtn, .courseListTable {
  margin-right: 20px;
}

#courseListPanel table td:hover {
  color: white;
  background-color: #D35353;
  cursor: pointer;
  font-size: 20px;
}

// keep removebutton normal size
#courseListPanel table td:hover .removeBtn {
  font-size: 16px;
}
#courseListPanel .removeBtn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color : black;
}

#courseListPanel .removeBtn:hover {
  font-size : 20px !important;
}

#modal-skillNameInput {
  height: 28px;
}

.section_teachers {
  margin-left: 30px;
}
