<template name="courseList">
    <div id="courseListPanel" class="container-fluid">
        <div class="row">
        <div class="col-lg-12">
        <h2 class="pull-left">Matières</h2>
        <button id="addCourseBtn" class="btn btn-default pull-right">Ajouter</button>
        <div class="courseListTable">
        <table class="table">
            <thead>
            </thead>
            <tbody>
                {{#each skillList}}
                    <tr><td>{{name}}<i class="removeBtn fa fa-times pull-right"></i></td></tr>
                {{/each}}
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="btn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouvelle matière</h4>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label" for="modal-skillNameInput">Nom</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" id="modal-skillNameInput" placeholder="">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer la fenêtre</button>
                    <button id="modal-addCourseBtn" type="button" class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="seekHelp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pull-left">Rechercher de l'aide</h2>
                
                <div class="courseListTable">
                    <table class="table">
                        <tbody>
                            {{#each skillList}}
                                <tr><td>
                                    <h3>{{name}}</h3>
                                    <div class="section_teachers">
                                    {{#each teachers}}
                                    
                                    <div>
                                        <span class="glyphicon glyphicon-user" style="color:green"></span>
                                        {{this}}
                                        
                                            
                                        <button type="button" class="btn btn-default right-align" aria-label="Left Align">
                                            Appeller
                                        </button>

                                        <button type="button" class="btn btn-default right-align" aria-label="Left Align">
                                            Send a message
                                        </button>
                                    </div>
                                    
                                    {{/each}}
                                </div>
                                </td>
                                </tr>
                            {{/each}}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>