<template name="defaultPage">
    {{start}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {{> loginButtons}}
                
                <a href="{{SkillShareConfig.serverProtocol}}://{{SkillShareConfig.serverAddr}}/callCAS"><button type="button" class="btn btn-default right-align" aria-label="Left Align" id="button_connect">
                    Se connecter
                </button></a>
            </div>
        </div>
    </div>
</template>