#button_connect {
	position:fixed;
	bottom: 45px;
	left: 50%;
	background-color: transparent;
	color: #D35353;
	border-color: #D35353;

	transition: all 0.3s; 
}

#button_connect:hover {
	background-color: #D35353;
	color: white;
	border-color: #D35353;
}



