<template name="userList">
    <div id="userList">
        Our beloved users
        <ul>
        {{#each userList}}
            {{#unless isCurrentUser username}}
            <li>
            {{#if username}}
                {{username}}
            {{else}}
                {{#each emails}}
                    {{address}}
                {{/each}}
            {{/if}}
            <i class="fa fa-circle-thin {{#if status.online}}online{{/if}}"></i>
            </li>
            {{/unless}}
        {{/each}}
        </ul>
    </div>
</template>