<template name="PostItem">
    <div class="post">
        <div class="post-content">
            <h3>{{title}}<span>  {{matiereName}}</span></h3>
            <p>
                auteur: {{author}}
                <a href="{{pathFor 'PostPage'}}">{{commentsCount}} commentaire</a>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Editer</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'PostPage'}}" class="discuss btn btn-default">Discuter</a>
    </div>
</template>