<template name="PostEdit">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="title">Titre</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Mise à jour" class="btn btn-primary submit"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Supprimer ce sujet</a>
    </form>
</template>