<template name="PostItem">
    <div class="post">
        <div class="post-content">
            <a href="{{pathFor 'PostPage'}}" > <h3>{{title}}</h3></a>
            <p>
                auteur:  {{author}}<br>
                <a href="{{pathFor 'PostPage'}}">{{commentsCount}} commentaire</a>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Editer</a>{{/if}}
            </p>
        </div>
        <a href="{{pathFor 'PostPage'}}" class="discuss btn btn-default">Discuter</a>
    </div>
</template>