@sidebar-color : black;
@sidebar-hover-color : #D35353;
@sidebar-border-color : #D35353;
@width-border : 1024px;

body { 
  background: url(img/background.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.hidden {
	display: none;
}