<template name="client_chat">
		<div id="container" class="col-xs-4">
			<div id="panel_messages" class="row">
				{{#each messages}}
				<p class="message">
					<span class="name_user">
						{{#if userIsSender sender_id}}
							Moi :
						{{else}}
							{{sender_name}} :
						{{/if}}
					</span>
					<span class="content">{{content}}</span>
					<p class="date">{{getDate date}}</p>
					<hr/>
				</p>
				{{/each}}
			</div>

			<div id="panel_write" class="row">
				<textarea id="textearea" class="form-control" rows="3"></textarea>
			</div>

			<div id="panel_controls" class="row" >
				<div class="checkbox">
				    <label>
				      <input id="enter_activated" type="checkbox"> Appuyer sur Entrée pour envoyer
				    </label>
				</div>
				<button id="send_btn" type="button" class="btn btn-primary pull-right">Envoyer</button>
			</div>
		</div>
</template>