<template name="sidebar">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">
                    Skillshare INSA
                </a>
                <i>Partagez vos compétences</i>
            </li>
            <li>
                <a href="/inbox">Messages</a>
            </li>
            <li>
                <a href="/courses">Matières</a>
            </li>
            <li>
                <a href="/call">Conversation</a>
            </li>
            <li>
                <a href="chat_test">Chat_test</a>
            </li>
            <li>
                <a href="/help">Aide</a>
            </li>
            <li>
                <a href="/about">A propos</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            {{#if currentUser}}
            <li>
                <a href="" id="btn_logout">Logout</a>
            </li>
            {{/if}}
            {{#if currentUser}}
            <li>
                <a href="http://localhost:3000/" id="btn_logout_debbug">Logout DEBBUG user</a>
            </li>
            {{/if}}
        </ul>
    </div>

    <div id="sidebar-opener"><i class="fa fa-bars"></i></div>
    <script>
        $("#menu-toggle, #sidebar-opener").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        $("#btn_logout").click(function(e) {
            Meteor.logout();
            console.log("LOGGED OUT");
            document.location.href="http://localhost/callCAS/?logout";
        });

        $("#btn_logout_debbug").click(function(e) {
            Meteor.logout();
            console.log("HELLO YOU!!!!!!!!!!");
        });
    </script>
</template>