<template name="sidebar">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <div id="anim_background"></div>
                <a href="/" style="position:relative;z-index=2">
                    <img id="logo" src="/img/logo.png"/>
                </a>
            </li>
            <li id="li_inbox">
                <a href="/inbox">
                    Messages 
                    <span class="fa fa-inbox" aria-hidden="true"></span>
                    <div id="badge">  
                        <p>{{nbUnreadMessages}}</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/courses">
                    Matières
                    <span class="fa fa-book" aria-hidden="true"></span> 
                </a>
            </li>
            <li>

                <a href="/call">
                    Appel
                    <span class="fa fa-phone" aria-hidden="true"></span> 
                </a>
            </li>
            <li>
                <a href="/about">
                    A propos
                    <span class="fa fa-question" aria-hidden="true" style="margin-right:5px;"></span> 
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact
                    <span class="fa fa-envelope" aria-hidden="true"></span> 
                </a>
            </li>
            {{#if currentUser}}
            <li>
                <a href="{{SkillShareConfig.serverProtocol}}://{{SkillShareConfig.serverAddr}}/callCAS/?logout">Déconnexion
                    <span class="fa fa-power-off" aria-hidden="true"></span> 
                </a>
            </li>
            {{/if}}
            <div id="div_padding"></div>
        </ul>
    </div>

    <div id="sidebar-opener"><i class="fa fa-bars"></i></div>
    <script>
        $("#menu-toggle, #sidebar-opener").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#sidebar-wrapper").mouseover(function(e){
            $("#logo").css("width","50%");
            $("#logo").css("margin-left","45px");
            $("#logo").css("margin-top","8px");
            $("#anim_background").css("width","100%");
        }).mouseout(function(e) {
            $("#logo").css("width","27%");
            $("#logo").css("margin-left","155px");
            $("#logo").css("margin-top","15px");
            $("#anim_background").css("width","0%");
        });
    </script>
</template>
