#userList {
	display: none;
}
#userList ul i {
  float : right;
  margin-right : 5px;

}
#userList ul i.online {
  border-radius: 50px;
  background-color: chartreuse;
}

#userList {
  width : 300px;
}

@media(min-width:768px) {
	#userList {
		display: block;
	}
}