<template name="userList">
    <div id="userList">
        Nos chers collègues<hr/>
        <ul>
        {{#each userList}}
            {{#unless isCurrentUser username}}
            <li>
            {{#if username}}
                {{username}}
            {{else}}
                {{#each emails}}
                    {{address}}
                {{/each}}
            {{/if}}
            <i class="{{#if status.online}}online{{else}}fa fa-circle-thin{{/if}}"></i>
            {{#if status.online}}
                <i class="fa fa-phone"></i>
            {{/if}}
            </li>
            {{/unless}}
        {{/each}}
        </ul>
    </div>
</template>